.root {
  background-color: #bdc3c7;
  min-height: calc(100% - 80px);
  width: -webkit-fill-available;
}

.space {
  height: 24px;
}

.title-text {
  margin-top: 32px !important;
  margin-left: 16px;
}

.container-mistake-info {
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: 32px;
}

.container-info-mistake {
  margin-left: 16px;
  margin-right: 16px; 
}

.container {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-block {
  color: #fff;
  font-size: large;
  padding: 8px 24px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.container-spinner {
  height: 100%;
  padding: 24px 16px;
  min-height: calc(100vh - 80px);
}
