<div class="root">
    <div class="container" *ngIf="invoice != undefined; else spinnerView">
        <div class="space"></div>
        <mat-card >  
            <!-- CLIENTE -->
            <div class="title-text" fxLayout="row" fxLayoutAlign="space-between center" >
                <h2 style="color: #226706">Cliente</h2>
                 <button
                    mat-raised-button
                    type="button"
                    color="primary" 
                    class="btn-block"
                    routerLink="/buy">
                    Regresar
                </button> 
            </div>

            <!-- DATOS DEL CLIENTE -->
            <!-- DATOS DEL CLIENTE -->
            <!-- DATOS DEL CLIENTE -->
            <!-- DATOS DEL CLIENTE -->
            <div class="container-user-info" fxLayout="column" fxLayoutAlign="space-evenly stretch">  
                <div class="title-info-text" fxLayout="row wrap" fxFlex="100">
                    <h3 class="text-data" fxFlex="33" align="left" >Nombre: {{invoice.idCliente.nombre | uppercase }}</h3> 
                    <h3 class="text-data" fxFlex="33" align="left">Documento: {{invoice.idCliente.cedula }}</h3> 
                    <h3 class="text-data" fxFlex="33" align="left">Correo: {{invoice.idCliente.correo  | uppercase }}</h3>
                </div> 
                <div class="title-info-text" fxLayout="row wrap" fxFlex="100">
                    <h3 class="text-data" fxFlex="33" align="left" >Apellido: {{invoice.idCliente.apellido  | uppercase }} </h3> 
                    <h3 class="text-data" fxFlex="33" align="left" >Teléfono: {{invoice.idCliente.telefono  | uppercase }} </h3>
                    <h3 class="text-data" fxFlex="33" align="left" >Inscrito: {{invoice.idCliente.creadoEn  | date: 'longDate' }} </h3> 
                </div> 
            </div> 
        </mat-card> 
        <div class="space"></div>  
        <mat-card *ngIf="dataSource.data.length > 0;">   
            <div class="title-text" fxLayout="row" fxLayoutAlign="start center"  >
                <h2 style="color: #226706">Detalle Compra</h2> 
            </div> 
            <!-- DETALLE DE LA FACTURA -->
            <!-- DETALLE DE LA FACTURA -->
            <!-- DETALLE DE LA FACTURA -->
            <!-- DETALLE DE LA FACTURA -->
            <table mat-table matSort [dataSource]="dataSource" >  
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell  width="5%" *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1 }} </td>
                </ng-container> 

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell width="25%" mat-sort-header *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element" class="details-element-row"> {{element.nombre | uppercase}} </td>
                </ng-container>

                 <!-- Cantidad Column -->
                 <ng-container matColumnDef="amount">
                    <th mat-header-cell width="10%" mat-sort-header *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let element" class="details-element-row"> {{element.cantidad}} </td>
                </ng-container> 

                <!-- Precio Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell  width="20%" mat-sort-header *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let element" class="details-element-row"> {{ element.precio | currency: 'COP' }} </td>
                </ng-container>

                <!-- Tax Column -->
                <ng-container matColumnDef="tax">
                    <th mat-header-cell  width="20%" mat-sort-header *matHeaderCellDef> Iva </th>
                    <td mat-cell *matCellDef="let element" class="details-element-row"> {{((element.precio / 100) * 19) | number | currency: 'COP'}} </td>
                </ng-container>

                <!-- TOTAL Column -->
                <ng-container matColumnDef="totalPrice">
                    <th mat-header-cell  width="20%" mat-sort-header *matHeaderCellDef> Monto </th>
                    <td mat-cell *matCellDef="let element" class="details-element-row"> {{(element.cantidad*element.precio) | currency: 'COP'}} </td>
                </ng-container> 
                <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> 
            <div class="space"></div> 
        </mat-card> 
        <div class="space"></div> 
        <mat-card >   
            <!-- DETALLE PAGO -- PAGOS DE CONTADO -->
            <div
                class="title-text" 
                fxLayout="row" 
                fxLayoutAlign="start center"  >
                <h2 style="color: #226706">Detalle Factura {{ invoice.id }} - 
                    {{ "La Factura ha sido Pagada" }}
                </h2> 
            </div>  

            <!-- DETALLE PAGO -- PAGOS DE CONTADO -->
            <!-- DETALLE PAGO -- PAGOS DE CONTADO -->
            <!-- DETALLE PAGO -- PAGOS DE CONTADO -->
            <!-- DETALLE PAGO -- PAGOS DE CONTADO -->
            <div 
                class="container-user-info" 
                fxLayout="column" 
                fxLayoutAlign="space-evenly stretch">  
                <div class="title-info-text" fxLayout="row wrap" fxFlex="100">
                    <h3 class="text-data" fxFlex="33" align="left" >Fecha: {{invoice.fecha | date: "longDate" }}</h3> 
                    <h3 class="text-data" fxFlex="33" align="left">Tipo Pago: {{invoice.idModoPago.tipo }}</h3> 
                </div>  
                <div class="title-info-text" fxLayout="row wrap" fxFlex="100">
                    <h3  
                        class="text-data" 
                        fxFlex="33" 
                        align="left" >Impestos:  {{invoice.iva | currency: 'COP' }} </h3> 
                    <h3 class="text-data" fxFlex="33" align="left" >SubTotal:  {{ invoice.subtotal | currency: 'COP' }}</h3> 
                    <h3 class="text-data" fxFlex="33" align="left" >Total:  {{invoice.total | currency: 'COP' }} </h3> 
                </div> 
            </div> 
             
        </mat-card> 
        <div class="space"></div> 
    </div> 

    <ng-template #spinnerView >
        <div class="container-spinner" fxLayout="row" fxLayoutAlign="center center"  > 
            <mat-spinner color='accent' diameter="150" strokeWidth="14"></mat-spinner>
        </div>   
    </ng-template>  
</div>

