.tittle {
    color: #226706;
    font-weight: bold;
}


.container { 
    box-sizing: unset !important;
    height: calc(100% - 92px);
}


.radio-button {
    color: #226706;
    margin-top: 8px;
    margin-bottom: 8px;
}


.label-tittle { 
    color: #226706;
    margin-bottom: 8px; 
}


.itemForm{
    margin-top: 8px;
    margin-bottom: 8px;
}


.mat-dialog-actions {
    justify-content: flex-end;
}