<div class="root">
    <div class="container">
        <div class="space"></div>
        <mat-card>  
            <div class="title-form-text">
                <h2 style="color: #226706">Ingrese todos los valores para poder crear un Cliente</h2>
            </div>
            <form
                class="example-form"
                [formGroup]="angForm" 
                (submit)="createClient()">
                 <!-- novalidate -->
                <mat-card-content fxLayout="column" fxLayoutAlign="space-between stretch" class="container-form">
                    <mat-form-field class="imput-form-text" appearance="outline">
                        <mat-label>Nombre Cliente</mat-label>
                        <input
                        matInput
                        type="text"
                        required  
                        placeholder="Nombre"
                        formControlName="name"/> 
                    </mat-form-field>
                    <mat-error *ngFor="let validation of account_validation_messages.name" class="error-message-form">
                        <mat-error class="error-message" 
                            *ngIf="angForm.get('name')?.hasError(validation.type) && (angForm.get('name')?.dirty || angForm.get('name')?.touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>

                    <mat-form-field class="imput-form-text" appearance="outline">
                        <mat-label>Apellido Cliente</mat-label>
                        <input
                        matInput
                        type="text"
                        required  
                        placeholder="Apellido"
                        formControlName="lastname"/> 
                    </mat-form-field>
                    <mat-error *ngFor="let validation of account_validation_messages.lastname" class="error-message-form">
                        <mat-error class="error-message" 
                            *ngIf="angForm.get('lastname')?.hasError(validation.type) && (angForm.get('lastname')?.dirty || angForm.get('lastname')?.touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
            
                    <mat-form-field class="imput-form-text" appearance="outline">
                        <mat-label>Cédula Cliente</mat-label>
                        <input
                        matInput
                        type="text"
                        required 
                        placeholder="Cedula"
                        formControlName="userId" /> 
                    </mat-form-field>
                    <mat-error *ngFor="let validation of account_validation_messages.userId" class="error-message-form">
                        <mat-error class="error-message" 
                        *ngIf="angForm.get('userId')?.hasError(validation.type) && (angForm.get('userId')?.dirty || angForm.get('userId')?.touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>

                    <mat-form-field class="imput-form-text" appearance="outline">
                        <mat-label>Correo Cliente</mat-label>
                        <input
                        matInput
                        type="text"
                        required 
                        placeholder="Correo"
                        formControlName="email" /> 
                    </mat-form-field>
                    <mat-error *ngFor="let validation of account_validation_messages.email" class="error-message-form">
                        <mat-error class="error-message" 
                        *ngIf="angForm.get('email')?.hasError(validation.type) && (angForm.get('email')?.dirty || angForm.get('email')?.touched)" >
                        {{validation.message}}
                        </mat-error>
                    </mat-error>

                    <mat-form-field class="imput-form-text" appearance="outline">
                        <mat-label>Teléfono Cliente</mat-label>
                        <input
                        matInput
                        type="text"
                        required 
                        placeholder="Teléfono"
                        formControlName="userPhone" /> 
                    </mat-form-field> 
                    <mat-error *ngFor="let validation of account_validation_messages.userPhone" class="error-message-form">
                        <mat-error class="error-message" 
                        *ngIf="angForm.get('userPhone')?.hasError(validation.type) && (angForm.get('userPhone')?.dirty || angForm.get('userPhone')?.touched)">
                        {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-card-content>

                <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="16px"> 
                    <button
                    mat-raised-button
                    type="button"
                    color="warn" 
                    class="btn-block"
                    routerLink="/clients">
                    Cancelar
                    </button>
                    <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    class="btn-block"
                    [disabled]="angForm.invalid">
                    Crear
                    </button>
                </div>
            </form> 

        </mat-card>
        <div class="space"></div> 
        
    </div> 
</div>
