<div class="root">
    <div class="container" *ngIf="admin != undefined; else spinnerView">
        <div class="space"></div>
        <mat-card >  
            <!-- product -->
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" class="title-text">
                <mat-icon  class="child" >person</mat-icon> 
                <h1 class="tittle-admin"> Perfil del Administrador</h1>
            </div>
               
            <div class="container-user-info">
                <div class="title-info-text">
                    <h2 class="admin-data"> Id -> {{admin.idUser}}</h2>
                </div>

                <div class="title-info-text">
                    <h2 class="admin-data"> Nombre -> {{admin.name}} {{admin.lastName}}</h2>
                </div> 

                <div class="title-info-text">
                    <h2 class="admin-data">Identificación -> {{admin.idDocType.name}} {{admin.userDoc }}</h2>
                </div>

                <div class="title-info-text">
                    <h2 class="admin-data"> Correo -> {{admin.userMail}}</h2>
                </div>

                <div class="title-info-text">
                    <h2 class="admin-data"> Dirección -> {{admin.userAddress}} </h2>
                </div>

                <div class="title-info-text">
                    <h2 class="admin-data"> Teléfono -> {{admin.userPhone}} </h2>
                </div>   
            </div> 
        </mat-card>

        <div class="space"></div>  
    </div> 

    <ng-template #spinnerView >
        <div class="container-spinner" fxLayout="row" fxLayoutAlign="center center"  > 
            <mat-spinner color='accent' diameter="150" strokeWidth="14"></mat-spinner>
        </div>   
    </ng-template>  
</div>

