.root {
  background-color: #bdc3c7;
  min-height: calc(100% - 80px);
  width: -webkit-fill-available;
}

.space {
  height: 24px;
}

.container {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

table {
  width: 100%;
}

.full-width-field {
  width: 100%;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-row:nth-child(even) {
  background-color: #fff;
}

.mat-row:nth-child(odd) {
  background-color: #f5f5f5;
}

.title {
  color: #226706;
  font-weight: bold;
}

.btn-block {
  background-color: #226706;
  color: #fff;
}

tr.mistake-element-row:not(.mistake-expanded-row):hover {
  background: whitesmoke;
}

tr.mistake-element-row:not(.mistake-expanded-row):active {
  background: #efefef;
}


.mistake-element-row{
  cursor:pointer;
}
 

.container-spinner {
  height: 100%;
  padding: 24px 16px;
  min-height: calc(100vh - 80px);
}
