.tittle {
  color: #226706;
  font-weight: bold;
}

.container {
  box-sizing: unset !important;
  width: 100%;
  /* height: calc(100% - 92px); */
}

.radio-button {
  color: #226706;
  margin-top: 8px;
  margin-bottom: 8px;
} 

.itemForm {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.tittleDocument {
  color: #236707;
  font-weight: bold;

}

.iconDoc {
  width: 41px;
  height: 41px;
  font-size: 41px;
}

.cardDocument-container {
  margin: 32px 16px; 
}

.btn-block-upload {
  width: 50%;
  color: #fff;
  justify-content: center;
  font-size: large;
  padding: 8px 24px;
  margin: 16px 0;

}
 
.btn-block {
  color: #fff;
  font-size: large; 
  padding: 8px 24px;
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.cardDocument {
  width: 70%;
  background-color: #e4e4e4;
}