<h1 mat-dialog-title class="tittle">{{data.tittle}}</h1>
  
<div mat-dialog-content class="container" fxLayout="column" fxLayoutAlign="start stretch"> 
        
        <div fxLayout="row" fxLayoutAlign="center center" >
            <input #txtInput class="ng-hide" hidden=true (change)="loadCovenantFile($event)" id="input-file-id" accept=".txt" type="file" />
            <button [disabled]="file !== null" mat-flat-button color="primary" class="btn-block-upload" (click)="txtInput.click()">
                <mat-icon style="color:#fff;">file_upload</mat-icon>
                Subir
            </button>
        </div>

        <div *ngIf="file !== null" class="cardDocument-container" fxLayout="row" fxLayoutAlign="center center"> 
            <mat-card class="cardDocument mat-elevation-z0" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
                <div class="tittleDocument" fxLayout="row" fxLayoutAlign="center center"  fxLayoutGap="25px">
                    <mat-icon class="iconDoc">description</mat-icon>
                    {{file.name  | uppercase}} 
                </div>
                <button mat-fab color="warn" (click)="deleteFile()">
                    <mat-icon style="color:#fff;">delete</mat-icon>
                </button>
            </mat-card>  
        </div>  

</div> 
  
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="16px"> 
  <button 
  mat-raised-button
    color="warn" 
    type="button"
    class="btn-block"  
    [mat-dialog-close]="closeDialog(false)">Cancelar</button>
  <button 
    mat-raised-button
    color="primary" 
    [disabled]="file === null"
    class="btn-block"  
    type="submit" 
    [mat-dialog-close]="closeDialog(true)">Procesar Pagos</button>
</div>
