<div class="root">
    <div class="container">
        <div class="space"></div>
        <mat-card> 
            <h2 class="title">Buscador</h2>
            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="12px">
                <mat-form-field fxFlex="70" class="full-width-field" appearance="outline" color="red">
                    <mat-label>DNI</mat-label>
                    <input 
                        matInput  
                        type="text" 
                        placeholder="DNI Producto"
                        [(ngModel)]="searchDni"
                        name="searchDni"
                        (keyup)="applyFilter()" 
                        value="Sushi">
                </mat-form-field> 
                <button 
                    fxFlex
                    mat-raised-button
                    color="secundary"
                    type="submit"   
                    class="btn-block" 
                    (click)="clearSearch()"> 
                        <mat-icon [style.margin-right]="'10px'" >restart_alt</mat-icon> 
                        Limpiar
                </button>
            </div> 
        </mat-card>
        <div class="space"></div>
        <mat-card> 
            <table mat-table matSort [dataSource]="dataSource" > 
                <!-- Column Data -->
                <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
                    <!-- Columns -- HEADER -->
                    <th mat-header-cell *matHeaderCellDef mat-sort-header width="{{column.size}}" [disabled]="column.name=='accion' ? true : false ">{{column.title}}</th>
                    <!-- Columns -- DATA -->
                        <!-- VALIDATION - DATA  -->
                        <ng-container *ngIf="column.name!=='accion'; else doActions">
                            <td mat-cell *matCellDef="let element"> {{element[column.name]}} </td>      
                        </ng-container> 
                        <!-- COLUMN -- ACTIONS -->
                        <ng-template #doActions>
                            <td mat-cell *matCellDef="let element"> 
                                <div class="example-button-container"> 
                                    <button mat-flat-button [matMenuTriggerFor]="menu" style="color: #fff;" color="primary">
                                        <mat-icon style="color: #fff;">settings</mat-icon>
                                        Opciones
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="editProduct(element)">Editar</button>
                                        <button mat-menu-item (click)="updateStock(element)">Aumentar Stock</button>
                                        <button mat-menu-item (click)="deleteProduct(element)">Eliminar</button>
                                    </mat-menu>
                            
                    
                                  </div>    
                            </td>       
                        </ng-template>
                </ng-container> 
 
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> 
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card>
        <div class="space"></div>

        
    </div>
    
    
    <div class="fav-add-product">
        <button mat-fab color="primary" class="mat-elevation-z4" (click)="addProduct()">
            <mat-icon style="color: #fff">add</mat-icon>
        </button>
    </div>

</div>

    
