<h1 mat-dialog-title class="tittle">{{data.tittle}}</h1>
 
<mat-dialog-content class="mat-typography">   
  <form
    class="example-form"
    [formGroup]="angForm">  
      <mat-form-field fxLayout="column" fxLayoutAlign="space-between stretch"  class="imput-form-text" appearance="outline">
        <mat-label>{{data.label}}</mat-label>
        <input
        matInput
        type="text"
        required  
        placeholder="Nombre"
        formControlName="inputData"/> 
      </mat-form-field>  
      <mat-error *ngFor="let validation of account_validation_messages.inputData">
        <mat-error class="error-message" 
            *ngIf="angForm.get('inputData')?.hasError(validation.type) && (angForm.get('inputData')?.dirty || angForm.get('inputData')?.touched)">
            {{validation.message}}
        </mat-error>
      </mat-error>
  </form>  

</mat-dialog-content>

<mat-dialog-actions align="end"> 
  <button 
    mat-flat-button 
    color="warn" 
    style="color: #fff;"  
    [mat-dialog-close]="closeDialog(false)">Cancelar</button>
  <button 
    mat-flat-button 
    color="primary" 
    [disabled]="angForm.invalid" 
    style="color: #fff;"  
    type="submit" 
    [mat-dialog-close]="closeDialog(true)">{{data.buttonLabel}}</button>
</mat-dialog-actions>