.tittle {
  color: #226706;
  font-weight: bold;
}

.btn-block {
  color: #fff;
  font-size: large;
  padding: 8px 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
