.root {
  background-color: #bdc3c7;
  min-height: calc(100% - 80px);
  width: -webkit-fill-available;
}

.space {
  height: 24px;
}

.title-text {
  margin-top: 32px !important; 
}


.container-user-info {
  margin-top: 32px !important; 
  margin-bottom: 32px !important; 
  margin-left: 16px;
}

.title-info-text {
  margin-left: 8px;
  margin-right: 16px;
  background-color: #E4E4E455;

}
  

.container {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.btn-block {
  color: #fff;
  font-size: large;
  padding: 8px 24px;
}
 

.container-spinner {
  height: 100%;
  padding: 24px 16px;
  min-height: calc(100vh - 80px);
}
