<div class="root">
    <div class="container">
        <div class="space"></div>
        <mat-card>  
            <div class="title-form-text">
                <h2 style="color: #226706">Ingrese el nombre del nuevo Convenio</h2>
            </div>
            <form
                class="example-form"
                [formGroup]="angForm" 
                (submit)="createCovenant()"
                 >
                 <!-- novalidate -->
                <mat-card-content fxLayout="column" fxLayoutAlign="space-between stretch" class="container-form">
                    <mat-form-field class="imput-form-text" appearance="outline">
                        <mat-label>Nombre Convenio</mat-label>
                        <input
                        matInput
                        type="text"
                        required  
                        placeholder="Nombre"
                        formControlName="name"/> 
                    </mat-form-field>
                    <mat-error *ngFor="let validation of account_validation_messages.name" class="error-message-form">
                        <mat-error class="error-message" 
                            *ngIf="angForm.get('name')?.hasError(validation.type) && (angForm.get('name')?.dirty || angForm.get('name')?.touched)">
                            {{validation.message}}
                        </mat-error>
                    </mat-error>
                </mat-card-content>

                <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="16px"> 
                    <button
                    mat-raised-button
                    type="button"
                    color="warn" 
                    class="btn-block"
                    routerLink="/covenants">
                    Cancelar
                    </button>
                    <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    class="btn-block"
                    [disabled]="angForm.invalid">
                    Crear
                    </button>
                </div>
            </form> 

        </mat-card>
        <div class="space"></div> 
        
    </div> 
</div>

