<div class="root">
    <div class="container" [hidden]="!loadingData">
        <div class="space"></div>
        <mat-card> 
            <h2 class="title">Buscador</h2>
            <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="12px">
                <mat-form-field fxFlex="70" class="full-width-field" appearance="outline" color="red">
                    <mat-label>Nombre Convenio</mat-label>
                    <input 
                        matInput  
                        type="text" 
                        placeholder="Convenio"
                        [(ngModel)]="searchConvenant"
                        name="searchConvenant"
                        (keyup)="applyFilter()">
                </mat-form-field> 
                <button 
                    fxFlex
                    mat-raised-button
                    color="accent"
                    type="submit"   
                    class="btn-block" 
                    (click)="clearSearch()"> 
                        <mat-icon [style.margin-right]="'10px'" >restart_alt</mat-icon> 
                        Limpiar
                </button>
            </div> 
        </mat-card>
        <div class="space"></div>
        <mat-card> 
            <table mat-table matSort [dataSource]="dataSource" > 
                <!-- Column Data -->
                <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
                    <!-- Columns -- HEADER --> 
                    <th 
                        mat-header-cell 
                        *matHeaderCellDef 
                        mat-sort-header 
                        width="{{column.size}}" 
                        [disabled]="column.name=='accion' ? true : false ">
                        {{column.title}}</th>
                    <!-- Columns -- DATA -->
                        <!-- VALIDATION - DATA  -->
                        <ng-container *ngIf="column.name!=='accion'; else doActions">
                             <!-- dato de la columna -->
                             <!-- Ennmeración de paginación -->
                             <!-- {{column.name!=='idCovenant' ? 
                                        element[column.name] : 
                                        (paginator.pageSize * paginator.pageIndex + i + 1)}}  -->
                            <td mat-cell *matCellDef="let element; let i = index;"> 
                                {{element[column.name]  }}
                            </td>      
                        </ng-container> 
                        <!-- COLUMN -- ACTIONS -->
                        <ng-template #doActions>
                            <td mat-cell *matCellDef="let element"> 
                                <div class="example-button-container"> 
                                    <button mat-flat-button [matMenuTriggerFor]="menu" style="color: #fff;" color="primary">
                                        <mat-icon style="color: #fff;">settings</mat-icon>
                                        Opciones
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="updateName(element)">Renombrar</button>
                                        <button mat-menu-item (click)="deleteCovenant(element)">Desactivar</button>
                                    </mat-menu>
                    
                                  </div>    
                            </td>       
                        </ng-template>
                </ng-container> 
 
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> 
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card>
        <div class="space"></div>
    </div>
    
    <div class="fav-add-product">
        <button mat-fab color="primary" class="mat-elevation-z4" routerLink="/covenants/newCovenant" >
            <mat-icon style="color: #fff">add</mat-icon>
        </button>
    </div>

    <div 
        class="container-spinner" 
        *ngIf="!loadingData" 
        fxLayout="row" 
        fxLayoutAlign="center center"> 
        <mat-spinner color='accent' diameter="150" strokeWidth="14"></mat-spinner>
    </div>   
</div>

    
