.sidenav-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* background-color: red; */
}

.sidenav {
  /* width: 250px; */
  overflow-x: hidden;
  /* transition: all, 0.5s; */
  background-color: #e4e4e4;
}

.btn {
  margin-left: 4px;
}

.toolbar {
  height: 80px;
  background-color: #c1c164;
}

.tittle {
  color: #226706;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 8px;
}

.menuIcon {
  color: #226706;
  margin: 8px;
}

.active-link {
  color: orangered !important;
}

.sidenav-content {
  overflow-x: hidden;
  background-color: #bdc3c7;
  width: -webkit-fill-available;
  /* margin-left: 250px !important; */
  transition: all, 0.5s;
}
