<mat-sidenav-container class="sidenav-container">
    <!-- Contenido Derecho -->
    <mat-sidenav-content class="sidenav-content">
      <mat-toolbar class="toolbar" flex="100" fxLayout="row" fxLayoutAlign="space-between">
        <div flex="50" fxLayoutGap="12px" fxLayout="row" fxLayoutAlign="space-between center" >
          <h2 class="tittle">{{currentRouteTittle}}</h2>
          <button mat-button routerLinkActive="active-link" routerLink="/products" color="accent">Productos</button>
          <button mat-button routerLinkActive="active-link" routerLink="/clients" color="accent">Clientes</button>
          <button mat-button routerLinkActive="active-link" routerLink="/paid-modes" color="accent">Medios</button>
          <button mat-button routerLinkActive="active-link" routerLink="/buy" color="accent">Compras</button>
        </div>
        <div flex="50" fxLayout="row" fxLayoutAlign="end center">
          <button
          mat-flat-button
          color="accent"
          class="btn"
          (click)="onOpen('https://simple-commerce-back.herokuapp.com/')" >
          MA
        </button>
        <button
          mat-flat-button
          color="accent"
          class="btn"
          (click)="onOpen('https://login-commerce-back.herokuapp.com/')">
          MB
        </button>
        <button
          mat-flat-button
          color="accent"
          class="btn"
          (click)="onOpen('https://api-gateway-store.herokuapp.com/')">
          AG
        </button>
          <button
          mat-flat-button
          color="accent"
          target="_blank"
          class="btn"
          (click)="onLogout()" >
          Salir
        </button>
        </div>
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet> 
    </mat-sidenav-content>
</mat-sidenav-container>

