<h1 mat-dialog-title class="tittle" align="center">{{data.tittle}}</h1>
 
<form
mat-dialog-content
class="container" 
fxLayout="column" 
fxLayoutAlign="space-around stretch"
[formGroup]="angForm">  

    <!--  TIPOS DE COMPRA -->
    <!-- TIPOS DE COMPRA  -->
    <div class="itemForm" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="24px"> 
        <h2 class="label-tittle">Modo de Pago</h2>
        <mat-radio-group 
            formControlName="inputDataOne" 
            required 
            fxLayout="row wrap" 
            fxLayoutAlign="start center" 
            (change)="changeTypePayment($event.value)"
            fxLayoutGap="16px"> 
            <mat-radio-button  class="radio-button" fxLayoutGap="16px" *ngFor="let types of paymentsTypes" [value]="types">
                {{types.name}}
            </mat-radio-button> 
        </mat-radio-group>   
    </div> 
    <!-- NÚMERO DE CUOTAS -->
    <!-- NÚMERO DE CUOTAS -->
    <!-- NÚMERO DE CUOTAS -->
    <div 
        class="itemForm"  
        [style.content-visibility]="angForm.value.inputDataOne.idPayType === 2 ? 'visible': 'hidden'"
        fxLayout="row wrap" 
        fxLayoutAlign="start center" 
        fxLayoutGap="24px">  
        <h2 class="label-tittle">Cuotas</h2>
        <mat-form-field class="imput-form-text" appearance="outline">
            <mat-label>Número de Cuotas</mat-label>
            <mat-select 
                formControlName="inputDataTwo" 
                [required]="angForm.value.inputDataOne.idPayType === 2" >
                <mat-option value="" disabled>SELECCIONE CUOTAS</mat-option>
                <mat-option *ngFor="let cuota of financingTypes;" [value]="cuota" >{{cuota.dues}}</mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <!-- METODOS DE PAGO -->
    <!-- METODOS DE PAGO -->
    <!-- METODOS DE PAGO -->
    <div class="itemForm" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="24px">  
        <h2 class="label-tittle">Medio de Pago</h2>
        <mat-radio-group  formControlName="inputDataThree" required fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="16px"> 
            <mat-radio-button class="radio-button" fxLayoutGap="16px" *ngFor="let method of paymentsMethods" [value]="method">
                {{method.name}}
            </mat-radio-button> 
        </mat-radio-group>   
    </div>
    <!-- CUOTA INICIAL DEL PAGO -->
    <!-- CUOTA INICIAL DEL PAGO -->
    <!-- CUOTA INICIAL DEL PAGO -->
    <div 
        [style.content-visibility]="angForm.value.inputDataOne.idPayType === 2 ? 'visible': 'hidden'"
        class="itemForm" 
        fxLayout="row wrap" 
        fxLayoutAlign="start center" 
        fxLayoutGap="24px"> 
        <h2 class="label-tittle">Cuota Inicial</h2>
        <mat-form-field fxLayout="column" fxLayoutAlign="space-between stretch"  class="imput-form-text" appearance="outline">
            <mat-label>Cuota Inicial</mat-label>
            <input
            matInput
            type="text"
            [required]="angForm.value.inputDataOne.idPayType === 2"  
            placeholder="Cuota Inicial"
            formControlName="inputDataFour"/> 
        </mat-form-field>  
        <mat-error *ngFor="let validation of account_validation_messages.inputDataFour" class="error-message-form">
            <mat-error class="error-message" 
            *ngIf="angForm.get('inputDataFour')?.hasError(validation.type) && (angForm.get('inputDataFour')?.dirty || angForm.get('inputDataFour')?.touched)">
            {{validation.message}}
            </mat-error>
        </mat-error>
    </div>

    <div class="itemForm"
        fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="12px">
        <div fxFlex="50"> </div>
        <div fxFlex="50" class="container-score">
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between stretch" >
                <h3 class="product-text bold-text" fxFlex="45" align="right"> Subtotal </h3> 
                <h3 class="product-text bold-text" fxFlex="15" align="right"> Iva </h3>
                <h3 class="product-text bold-text" fxFlex="15" align="right"> Descuento </h3>
                <h3 class="product-text bold-text" fxFlex="15" align="right"> Total </h3>
            </div>
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between stretch" >
                <h3 class="product-text bold-text" fxFlex="45" align="left"> {{ subtotal | currency: 'COP'}} </h3> 
                <h3 class="product-text bold-text" fxFlex="15" align="left"> {{ tax | currency: 'COP'}} </h3>
                <h3 class="product-text bold-text" fxFlex="15" align="left"> {{ discount > 0 ?  "- " +  [discount | currency: 'COP'] : [discount | currency: 'COP'] }} </h3>
                <h3 class="product-text bold-text" fxFlex="15" align="left"> {{  total | currency: 'COP'}} </h3>
            </div>
        </div>
    </div> 

</form>  


<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end none" class="actions-dialog-container"> 
  <button 
    mat-flat-button 
    color="warn" 
    class="btn-block"
    [mat-dialog-close]="closeDialog(false)">Cancelar</button>
  <button 
    mat-flat-button 
    color="primary" 
    [disabled]="angForm.invalid" 
    class="btn-block"
    type="submit" 
    [mat-dialog-close]="closeDialog(true)">{{data.buttonLabel}}</button>
</div>
