 
<div class="root">
    <div class="container" [hidden]="!loadingData">
        <div class="space"></div>
        <!-- Buscado del cliente por cedula -->
        <div fxLayout="row" fxLayoutGap="16px">
            <mat-card [fxFlex]="client !== null ?  60 : 100" > 
                <h2 class="title">Buscar Cliente</h2>
                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="12px">
                    <mat-form-field fxFlex="70" class="full-width-field" appearance="outline" color="red">
                        <mat-label>Documento Cliente</mat-label>
                        <input 
                            matInput     
                            type="text" 
                            [formControl]="searchClientDoc"
                            placeholder="Documento Cliente"  
                            (keyup.enter)="searchClientDoc.valid ? searchClient() : null">
                    </mat-form-field> 
                    <button 
                        fxFlex
                        mat-raised-button
                        color="accent"
                        [disabled]="!searchClientDoc.valid"
                        type="submit"   
                        class="btn-block" 
                        (click)="searchClient()">Buscar</button>
                    <button 
                        fxFlex
                        mat-raised-button
                        color="accent"
                        type="submit"   
                        class="btn-block"
                        [disabled]="client !== null" 
                        (click)="clearClientSearch()">
                        Limpiar
                    </button>
                </div> 
            </mat-card>
            <!-- Buscador de los productos por el dni -->
            <mat-card fxFlex *ngIf="client !== null;"> 
                <h2 class="title">Buscar Producto</h2>
                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="12px">
                    <mat-form-field fxFlex="70" class="full-width-field" appearance="outline" color="red">
                        <mat-label>DNI</mat-label>
                        <input 
                            matInput  
                            type="text" 
                            placeholder="DNI Producto"
                            [disabled]="!client"
                            [(ngModel)]="searchDni"
                            name="searchDni"
                            (keyup)="searchProduct()">
                    </mat-form-field> 
                    <button 
                        fxFlex
                        mat-raised-button
                        color="accent"
                        type="submit"   
                        class="btn-block" 
                        (click)="clearProductSearch()">
                        Limpiar
                    </button>
                </div> 
            </mat-card>
        </div>

        <div class="space"></div>
        <div fxLayout="row" fxLayoutGap="16px">
            <mat-card [fxFlex]="100" *ngIf="client !== null;"> 
                <h2 class="title">Buscar Modo Pago</h2>
                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="12px">
                    <mat-form-field fxFlex="70" class="full-width-field" appearance="outline" color="red">
                        <mat-label>Id Modo Pago</mat-label>
                        <input 
                            matInput     
                            type="text" 
                            [formControl]="searchPaidMode"
                            placeholder="Documento Cliente"  
                            (keyup.enter)="searchPaidMode.valid ? onSearchPaidMode() : null">
                    </mat-form-field> 
                    <button 
                        fxFlex
                        mat-raised-button
                        color="accent"
                        [disabled]="!searchPaidMode.valid"
                        type="submit"   
                        class="btn-block" 
                        (click)="onSearchPaidMode()">Buscar</button>
                    <button 
                        fxFlex
                        mat-raised-button
                        color="accent"
                        type="submit"   
                        class="btn-block"
                        [disabled]="paidmode !== null" 
                        (click)="clearPaidModeSearch()">
                        Limpiar
                    </button>
                </div> 
            </mat-card>
        </div>
        
        
        <div class="space"></div> 

        <!-- detalle de la compra  - pridcutos que va a comprar y quien lo va a comprar -->
        <div fxLayout="row" fxLayoutGap="16px"> 
            <mat-card fxFlex="60" *ngIf="client !== null;"> 
                <!-- titulo del detalle -->
                <h2 class="title show-dots">Detalle Compra</h2>
                <!-- Nombre del cliente que va arealizar la compra -->
                <div fxLayout="row" fxLayoutAlign="space-evenly center" class="client-container" fxLayoutGap="12px">
                    <h3 class="title show-dots"> {{"Cliente Compra: " | uppercase}}</h3>
                    <h3 class="title show-dots">{{client.nombre + " " + client.apellido | uppercase}}</h3>
                    <button mat-mini-fab color="warn" (click)="buyCancel()">
                        <mat-icon style="color: #fff;">close</mat-icon>
                    </button>
                </div>

                <mat-card-content>
                    <!-- Nombre de cada columna en los detalles de la compras -->
                    <div 
                        *ngIf="productsToBuy.length > 0"
                        fxLayout="row" 
                        fxLayoutAlign="space-around center" 
                        class="products-buy-header" 
                        fxLayoutGap="12px">
                        <h2 class="title show-dots" fxFlex="45" align="center"> Nombre</h2>
                        <h2 class="title show-dots" fxFlex="15" align="left"> Cantidad</h2>
                        <h2 class="title show-dots" fxFlex="15" align="center"> Precio</h2>
                        <h2 class="title show-dots" fxFlex="15" align="center"> Subtotal</h2>
                        <h2 class="title" fxFlex="10" align="left"> </h2> 
                    </div>

                    <!-- Listado de lo q ue se está comprando -->
                    <div 
                        fxLayout="row" 
                        *ngFor="let product of productsToBuy; let i = index;"  
                        [ngClass]="i % 2 ? 'parStyleProduct' : 'inparStyleProduct' "
                        fxLayoutAlign="space-around center" 
                        fxLayoutGap="12px">
                        <h3 class="product-text-tittle" fxFlex="45" align="left"> {{ product.nombre | uppercase}} </h3>
                        <!-- <h3 class="product-text" fxFlex="15" align="center"> {{ product.cantidad }} </h3> -->
                        <!-- <input class="product-text" fxFlex="15"    type="number" > -->
                        <mat-form-field fxFlex="15" class="product-text" appearance="outline">
                            <mat-label>Cantidad </mat-label>
                            <input 
                                matInput    
                                [(ngModel)]="product.cantidad" 
                                name="cantidad"
                                min="1" 
                                type="number" 
                                (change)="onChangeAmontProduct($event, product)" 
                                placeholder="Cantidad" >
                        </mat-form-field>  
                        <h3 class="product-text" fxFlex="15" align="center"> {{  product.precio  | currency: 'COP'}} </h3>
                        <h3 class="product-text" fxFlex="15" align="center"> {{ product.total | currency: 'COP'}} </h3>
                        <button lass="product-button"  mat-icon-button fxFlex="10"  color="warn" (click)="removeProduct(product)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div> 
                </mat-card-content> 
 
                <mat-card-actions fxLayout="row" fxLayoutAlign="end stretch" class="pay-purchase-actions" fxLayoutGap="16px">
                    <button
                    mat-raised-button
                    type="button"
                    color="warn" 
                    class="btn-block" 
                    (click)="buyCancel()">
                    Cancelar Compra
                    </button>
                    <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    (click)="buy()"
                    [disabled]="client !== null && productsToBuy.length === 0"
                    class="btn-block">
                    Pagar
                    </button>
                </mat-card-actions>  
            </mat-card>
            <!-- tabla con la descripción de los productos para realizar la compra -->
            <!-- *ngIf="client !== null;" -->
            <mat-card 
                fxFlex 
                [style.visibility]="client !== null ? 'visible': 'hidden'" 
                class="container-table"> 
                <table mat-table matSort [dataSource]="dataSource"> 
                    <!-- Column Data -->
                    <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
                        <!-- Columns -- HEADER --> 
                        <th 
                            mat-header-cell 
                            *matHeaderCellDef 
                            mat-sort-header 
                            width="{{column.size}}" 
                            [disabled]="column.name=='accion' ? true : false ">
                            {{column.title}}</th>
                        <!-- Columns -- DATA --> 
                            <ng-container *ngIf="column.name!=='accion'; else doActions"> 
                                <td mat-cell *matCellDef="let element; let i = index;">  
                                    {{column.name === 'precio' ?  [element[column.name]  | currency: 'COP'] : element[column.name]   }}
                                </td>      
                            </ng-container> 
                            <!-- COLUMN -- ACTIONS -->
                            <ng-template #doActions>
                                <td mat-cell *matCellDef="let element" align="left"> 
                                    <button mat-mini-fab  class="add-button" color="primary" (click)="addProduct(element)" [disabled]="client === null">
                                        <mat-icon style="color: #fff;">add</mat-icon>
                                    </button>  
                                </td>       
                            </ng-template>
                    </ng-container> 
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"  ></tr>
                </table> 
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-card>
        </div>

        <div class="space"></div>

        <!-- Ejemplo de generar un pdf al realizar una compra por los clientes -->
        <!-- <mat-card>Ofertas Card
            <button (click)="onCreatePdf()">Open PDF</button>
        </mat-card>
        <div class="space"></div>  -->
    </div>
     

    <div 
        class="container-spinner" 
        *ngIf="!loadingData" 
        fxLayout="row" 
        fxLayoutAlign="center center"> 
        <mat-spinner color='accent' diameter="150" strokeWidth="14"></mat-spinner>
    </div>   
</div>

    
