 
<div class="root">
    <div class="container" [hidden]="!loadingData">
        <div class="space"></div>
        <!-- Buscado del cliente por cedula -->
        <div fxLayout="row" fxLayoutGap="16px">
            <mat-card fxFlex="60" > 
                <h2 class="title">Buscar Cliente</h2>
                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="12px">
                    <mat-form-field fxFlex="70" class="full-width-field" appearance="outline" color="red">
                        <mat-label>Documento Cliente</mat-label>
                        <input 
                            matInput     
                            type="text" 
                            [formControl]="searchClientDoc"
                            placeholder="Documento Cliente"  
                            (keyup.enter)="searchClientDoc.valid ? searchClient() : null">
                    </mat-form-field> 
                    <button 
                        fxFlex
                        mat-raised-button
                        color="accent"
                        [disabled]="!searchClientDoc.valid"
                        type="submit"   
                        class="btn-block" 
                        (click)="searchClient()">Buscar</button>
                    <button 
                        fxFlex
                        mat-raised-button
                        color="accent"
                        type="submit"   
                        class="btn-block" 
                        (click)="clearClientSearch()">
                        Limpiar
                    </button>
                </div> 
            </mat-card>
            <!-- Buscador de los productos por el dni -->
            <mat-card fxFlex> 
                <h2 class="title">Buscar Producto</h2>
                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="12px">
                    <mat-form-field fxFlex="70" class="full-width-field" appearance="outline" color="red">
                        <mat-label>DNI</mat-label>
                        <input 
                            matInput  
                            type="text" 
                            placeholder="DNI Producto"
                            [disabled]="!client"
                            [(ngModel)]="searchDni"
                            name="searchDni"
                            (keyup)="searchProduct()">
                    </mat-form-field> 
                    <button 
                        fxFlex
                        mat-raised-button
                        color="accent"
                        type="submit"   
                        class="btn-block" 
                        (click)="clearProductSearch()">
                        Limpiar
                    </button>
                </div> 
            </mat-card>
        </div>
        
        <div class="space"></div> 

        <!-- detalle de la compra  - pridcutos que va a comprar y quien lo va a comprar -->
        <div fxLayout="row" fxLayoutGap="16px"> 
            <mat-card fxFlex="60" class="container-buy-data" *ngIf="client !== null;"> 
                
                <h2 class="title">Detalle Compra</h2>
                <div fxLayout="row" fxLayoutAlign="space-evenly center" class="client-container" fxLayoutGap="18px">
                    <h3 class="title"> {{"Cliente Compra: " | uppercase}}</h3>
                    <h3 class="title">{{client.name + " " + client.lastName | uppercase}}</h3>
                    <button mat-icon-button color="warn" (click)="clearClientSearch()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>

                <div 
                    *ngIf="productsToBuy.length > 0"
                    fxLayout="row" 
                    fxLayoutAlign="space-around center" 
                    class="client-container" 
                    fxLayoutGap="12px">
                    <h2 class="title"> Nombre</h2>
                    <h2 class="title"> Cantidad</h2>
                    <h2 class="title"> Precio</h2>
                    <h2 class="title"> Subtotal</h2>
                    <!-- <h2 class="title"> Remover</h2> -->
                </div>
  
                <div 
                    fxLayout="row" 
                    *ngFor="let product of productsToBuy; let i = index;"  
                    [ngClass]="i % 2 ?  'parStyleProduct' : 'inparStyleProduct' "
                    fxLayoutAlign="space-around center" 
                    fxLayoutGap="12px">
                    <h3 class="product-text"> {{ product.name | uppercase}} </h3>
                    <h3 class="product-text"> {{ "$ " + product.price }} </h3>
                    <h3 class="product-text"> {{ "$ " +  product.price }} </h3>
                    <h3 class="product-text"> {{ "$ " + product.price }} </h3>
                    <button mat-icon-button color="warn" (click)="removeProduct(product)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                 

                
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> 

                <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="16px"> 
                    <button
                    mat-raised-button
                    type="button"
                    color="warn" 
                    class="btn-block" 
                    (click)="buyCancel()">
                    Cancelar Compra
                    </button>
                    <button
                    mat-raised-button
                    color="primary"
                    type="submit"
                    (click)="buy()"
                    [disabled]="client === null"
                    class="btn-block">
                    Pagar
                    </button>
                </div>

            </mat-card>
            <!-- tabla con la descripción de los prodctos para realizar la compra -->
            <mat-card fxFlex class="container-table"> 
                <table mat-table matSort [dataSource]="dataSource" > 
                    <!-- Column Data -->
                    <ng-container *ngFor="let column of columns" matColumnDef="{{column.name}}">
                        <!-- Columns -- HEADER --> 
                        <th 
                            mat-header-cell 
                            *matHeaderCellDef 
                            mat-sort-header 
                            width="{{column.size}}" 
                            [disabled]="column.name=='accion' ? true : false ">
                            {{column.title}}</th>
                        <!-- Columns -- DATA --> 
                            <ng-container *ngIf="column.name!=='accion'; else doActions"> 
                                <td mat-cell *matCellDef="let element; let i = index;">  
                                    {{element[column.name]}}
                                </td>      
                            </ng-container> 
                            <!-- COLUMN -- ACTIONS -->
                            <ng-template #doActions>
                                <td mat-cell *matCellDef="let element" align="left"> 
                                    <button mat-mini-fab color="primary" (click)="addProduct(element)" [disabled]="client === null">
                                        <mat-icon style="color: #fff;">add</mat-icon>
                                    </button>  
                                </td>       
                            </ng-template>
                    </ng-container> 
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"  ></tr>
                </table> 
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </mat-card>
        </div>

        <div class="space"></div>
        <!-- <mat-card>Ofertas Card
            <button (click)="generatePdf()">Open PDF</button>
        </mat-card>
        <div class="space"></div>  -->
    </div>
     

    <div 
        class="container-spinner" 
        *ngIf="!loadingData" 
        fxLayout="row" 
        fxLayoutAlign="center center"> 
        <mat-spinner color='accent' diameter="150" strokeWidth="14"></mat-spinner>
    </div>   
</div>

    
